<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Load-database" data-toc-modified-id="Load-database-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load database</a></span></li><li><span><a href="#Create-a-database" data-toc-modified-id="Create-a-database-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create a database</a></span></li></ul></div>

# Load database

In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append('../utils')

import psycopg2
import util_database
from util_database import *

display(show_method_attributes(util_database))

dbname, dbuser, dbpass, dbport = get_postgres_configs('school')
%load_ext sql
%sql postgres://postgres:$dbpass@localhost:$dbport/$dbname

,0,1
0,execute_query,show_all_tables_primary_keys
1,get_all_tables_names_in_database,show_df_tables_first_value_and_dtype
2,get_conn,show_given_tables_info
3,get_dataframe_of_all_tables_and_all_columns,show_method_attributes
4,get_pandas_dataframe,show_pandas_dataframes_list
5,get_postgres_configs,show_tables_primary_keys

'Connected: postgres@school'

# Create a database
- go to pgadmin and create a database there.
- method 2
```SQL
create database testdvd;
```

Adding tables to database:
- right click the database and restore from downloaded dvdrental.tar file.

Just copy the schema and do not copy data:

- go to pgadmin
-